
 <div id="container" style="width:100%; height:400px;"></div>
<div class="cards-container">
    <div class="mrr-container">
        <h4>New Wins</h4>
      <div class="mrr-content">   
        <div class="mrr-value">230</div>
        <div class="arrow-up">↑</div>
        <div class="percentage">25%</div>
          <h6 style="margin-bottom: 20px;">vs previous 30 days</h6>
      
      </div>
    </div>
  
    <div class="mrr-container">
        <h4>Trial : Win Rate</h4>
      <div class="mrr-content">
        <div class="mrr-value">9.86%</div>
        <div class="arrow-up">↑</div>
        <div class="percentage">25%</div>
        <h6 style="margin-bottom: 20px;">vs previous 30 days</h6>
      </div>
    </div>
  
    <div class="mrr-container">
        <h4>New MRR</h4>
      <div class="mrr-content">

        <div class="mrr-value">$25690</div>
        <div class="arrow-up">↑</div>
        <div class="percentage">8.7%</div>
        <h6 style="margin-bottom: 20px;">vs previous 30 days</h6>
      </div>
    </div>
  </div> 
  