

 

  <!-- <a routerLink='date-range-picker' class="nav-link">date-range-picker</a>
  <a routerLink='mrr-cards'>mrr-cards</a> 
  <a routerLink='pie-chart'>pie-chart</a> 
   <a routerLink='mrr-chart'>mrr-chart</a>
   <a routerLink='stats-by-country-chart'>stats-by-country-chart</a>
  <router-outlet></router-outlet>  -->

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
   <div class="container-fluid">
      <h4 style="color: white;">Executive Dashboard</h4>

     <li class="nav-item">
     
  <a routerLink='date-range-picker' >date-range-picker</a>
   </li>
   
     
         <li class="nav-item">
            <a routerLink='mrr-cards'>mrr-cards</a> 
         </li>
         
         <li class="nav-item">
            <a routerLink='pie-chart'>pie-chart</a> 
         </li>
   
         <li class="nav-item">
            <a routerLink='mrr-chart'>mrr-chart</a>
         </li>

         <li class="nav-item">
            <a routerLink='stats-by-country-chart'>stats-by-country-chart</a>
         </li>
   </div>
 </nav>

 <router-outlet></router-outlet> 